[Desktop Entry]
Encoding=UTF-8
Name=Twug Voice Communications Client
GenericName=Voice Communications
Comment=Text/voice chat program
Exec=twug
Icon=twug
Terminal=false
Type=Application
Categories=Network;
